.App {
    text-align: center;
    background: #e5e5e5;
    height: 100%;
}
.datesContainer {
    display: flex;
    justify-content: space-around;
    align-items: end;
    padding: 10px;
}
.label {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}
.slider {
    z-index: 1;
}
